.header {
  height: 50px;
  background: #282c34;
}

.header-logo {
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100px;
}

.logo-img {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

