/* 
页面结构
*/
body {
  margin: 0;
}
.main {
  background: #B7CBE8;
  margin: 0px;
  overflow: hidden;
}
.main > h1 {
  line-height: 40px;
  margin: 0;
  text-align: center;
  font-size: 18px;
  background: #c1d5eb;
  font-family: 'kaiti','microsoft yahei';
  text-shadow: 0px 1px 0px #f2f2f2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.part {
  background: white;
  width: 50%;
  min-height: 400px;
  margin-bottom: -999em;
  padding-bottom: 999em;
}
.part > h2 {
  line-height: 30px;
  margin: 0;
  font-size: 15px;
  background: #f0f3f9;
  padding-left: 10px;
  border-bottom: 1px solid #ededed;
  color: #4e4e4e;
  text-shadow: 0px 1px 0px white;
  font-family: 'microsoft yahei';
}
.body-left {
  float: left;
  margin-left: -1px;
}
.body-left > .content {
  padding: 12px;
}
.body-left > .content img {
  width: 100%;
}
.body-right {
  float: right; 
  margin-right: -1px;
}
.input-range {
  padding: 10px;
  position: fixed;
  right: 0;
  z-index: 9999;
  border: 1px solid;
  background: #d4e3ff;
  opacity: 0.2;
}
.input-range:hover {
  opacity: 0.8;
}
.show {
  padding: 10px;
}
.footer {
  background: #B7CBE8;
  border-top: 3px solid #A7BFE8;
  line-height: 1.5;
  color: #333;
  font-size: 12px;
  padding: 15px 0;
  font-family: 'Lucida Grande',Verdana, Sans-Serif;
  text-align: center;
  text-shadow: 0 1px hsla(0,0%,100%,.3);
}

/* 
正文
*/
.show div {
  border: 1px solid #000;
}
.demo1 div {
  width: 50px;
  height: 50px;
  background: lightblue;
  margin: 50px;
}
.demo2 .container {
  overflow: hidden;
}
.demo2 p {
  width: 50px;
  height: 50px;
  background: lightblue;
  margin: 50px;
}
.demo3 {
  overflow: hidden;
}
.demo3 div {
  width: 50px;
  height: 50px;
  background: lightblue;
  margin: 50px;
  float: left;
}

.demo4 .left {
  width: 100px;
  height: 100px;
  background: lightblue;
  float: left;
}
.demo4 .right {
  width: 200px;
  height: 200px;
  background: #eee;
  overflow: hidden;
}
