.modal {
  background: #fff;
  width: 50vw;
  height: 30vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-header {
  background: #ccc;
  width: 100%;
  margin: 0;
  text-align: left;
}